.*.o.cmd
tags
cscope.out
Module.symvers
.*.*.d
vmlinux
*.version
*.tmp_versions
*.tmp_vmlinux*
.config
*.s
*.map
*.a
*.so
*.so.dbg
.*.*.*.*.tmp
*.*.*.*.tmp
*.builtin
*.order
*.o
*.o.cmd
*.mod.c
.*.o.cmd
*.ko
*.cmd
